.colProp{
	font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 700;
	font-size: 14px;
	color:#FFFFFF;
	 line-height:17.32px;
	 text-align:center;
	 padding:0;
}

.bar-subheaderProp{
	max-height:33px;
	background-color:#EF5A28;
}

.h2Prop{
	font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
	font-size: 12px;
	color: #0E0E0E; 
	 text-align:left; 
	 letter-spacing:0.24px;
	 line-height:15.99px; 
	 white-space:normal;
}

.h3Prop{
font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 700;
	font-size: 9.99px;
	color: #9D9D9D; 
	 text-align:left; 
	 letter-spacing:0.2px;
	 line-height:17.32px;
	 white-space:nowrap;
}

.newsImgProp{
	max-width:78px;
	max-height:56px;
}

.autoNews.has-subheader {
	top: 56px !important;
}

.newsItemProp {
    max-height: 74px;
    overflow: inherit;
}

.list:last-child.card{
	margin-bottom:0;
	padding:0;
}

.newsCardProp{
	margin-top: 0;
	margin-right: 0;
}

.card, .list-inset {
  overflow: hidden;
  margin: 0px 0px;
  border-radius: 2px;
  background-color: #fff; }


ion-content div.scroll div.list:first-child {
	padding-top: 0px !important;
}
.item-thumbnail-left, .item-thumbnail-left .item-content{

}

