.Text16 {
	font-family: 'Roboto-Bold';
  font-style: normal;
	font-size: 15px;
	color: #0E0E0E; 
	 text-align:left; 
	 letter-spacing:0.3px;
	 line-height:16.01px; 
	 white-space:normal;
	 font-weight:700;
}

.Text12{
	font-family: 'Roboto-Bold';
  font-style: normal;
	font-size: 10px;
	color: #4A4A4A; 
	 text-align:left; 
	 letter-spacing:0.2px;
	 line-height:17.34px; 
	 white-space:normal;
	 font-weight:700;
}

p{
	font-family: 'Roboto-Regular';
  font-style: normal;
	font-size: 12px;
	color: #333333; 
	 text-align:justify; 
}

#carNewsDetailImage{
width:293px;	
}