div.background
{
    background: url("../images/compare_btn_disable.png") no-repeat ;
    background-size:100%;
}
.bar-subheader {
    height: 23px;
}

div.transbox p
{
    margin: 5px;
    color: #000000;
}
.compare-button{
  color:#ffffff;
  font-size:11px;
  font-family:"Roboto Regular";
  width: 95.89041% !important;
  margin: auto 23px !important;
  height: 35px !important;
  border-radius: 2px !important;
  padding-top: 12px!important;
  vertical-align:middle;
  text-align:center;
}
.popular-compare{
  background-color:#ececec;
  color:#0e0e0e;
  font-size:11px;
  font-family:"Roboto Regular";
  height: 28px !important;
  padding-top: 9px!important;
  vertical-align:middle;
  padding-left:10px;
}
.imageSize {
  width: 60px !important;
  height: 40px !important;
}
/*
.popularCompareProp {
    height: 100px !important;
}*/

.row-style{
font-family:"Arial";
font-size:10px;
color:#272727;
}
.compare-carName{
   width: 50%;
   font-size:10px;
   margin-top:5px;
   padding-left:8%;
   text-align:center;
   padding-top:1px;
   overflow:hidden;
   padding-right:8%;
}
.compareCars-leftRow{
  float:right;
  padding-top:5px;
  padding-right:2%;
}
.compareCars-rightRow{
  float:left;
  padding-left:2%;
}
.row-overflow{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
body, .ionic-body {
  font-size: 17px;
  font-family: "Roboto Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  line-height: 10px;
  color: #a3a3a3;
}
.has-subheader {
  top: 66px;
}
.select-car1{
  height: 61px;
  margin-left: 32%;
}
.compare-row{
   height:61px!important;
   padding:0px;
   margin-top:10px;
   margin-bottom:10px;
   margin-right:auto;
   margin-left:auto;
}
.compareCars-bar{
  background-color:rgb(240,90,40);
  margin-top:5px;
}
.row-vs{
   margin-top:-12px;
   margin-bottom:-12px;
}
.versus-bar{
  line-height:20px;
  margin-top:-10px;
  margin-bottom:-10px;
}
.selectCar-align{
  padding-top:15px;
  padding-right:10px;
  padding-left:10px;
  vertical-align:middle;
}
.col {  
  font-size:10px;
  color:#ffffff;
  padding: 0px;
}
.col1 {  
  font-size:17px;
  color:#a3a3a3;
  font-family:"Roboto Regular";
  padding-top: 11px;
  padding-right: 10px;
  padding-left:10px;
}		
element.style {
    height: 61px;
}
.bar{
  color:#FFFFFF;
  font-size:10px;
  font-family:"Roboto Regular";
  padding-top:0px;
  padding-bottom:0px;
  background-color:rgb(240,90,40);
}
.bar.bar-positive {
    border-color:rgb(240,90,40)!important;
}