div.background
{
    background: url("../images/compare_btn_disable.png") no-repeat ;
    background-size: 100% 100%;
}



div.transbox p
{
    margin: 5px !important;
    color: #000000;
}

.imageSize {
    width: 60px !important;
    height: 40px !important;
}

.popularCompareProp {
    height: 100px !important;
}

.bar-subheader{
	background-color: #f05a28;
	color:#fff;
	font-family:'Roboto-Bold' !important;
	font-size:16px;
}

.bar.bar-light{
	background-color: #f05a28;
	color:#fff;
	font-family:'Roboto-Bold' !important;
	font-size:16px;
}