.nc_lc_header_info{

}

.nc_lc_alignCenter{
    text-align: center !important;
}

ion-header-bar.bar-subheader.nc_uc_header_prop.bar.bar-header{
	text-align:center;
 	background:#DF5426;
 	color: #fff;
 	font-weight: bold !important;
 	font-size:15px !important;
 	font-family:'Roboto-Bold' !important;
}



ion-content div.scroll div.list{
  	border-bottom: 2px solid #ccc;
  }
  ion-content div.scroll div.list:first-child{
  	padding-top: 0;
  }
  ion-content div.scroll div.list img{
  	display:inline-block;
  	margin-right:20px;
  	max-width: 100px;
  	max-height: 80px;
  }
  ion-content div.scroll div.list div.detail{
  	margin-left: 50px;
   }
   ion-content div.scroll div.list div.item.item-thumbnail-left{
   		min-height: 90px;
   }
  ion-content div.scroll div.list h2 {
  	font-family:'Roboto-Bold' !important;
  	font-size:15px !important;
  	color: #0E0E0E;
  }
  ion-content div.scroll div.list h3{
  	font-family:'Roboto-Bold' !important;
  	font-size:13px !important;
  	color: #F05A28;
  }
   ion-content div.scroll div.list h3 span{
   	font-size: 13px;
   	color: #F05A28;
   }



ion-footer-bar.bar.bar-assertive.bar-footer{
	border:none;
	background: #f5f5f5;
	background-image: none!important;
	text-transform: uppercase;
	max-width: 95%;
	margin: 0 auto;
	bottom: 20px;
}
ion-footer-bar.bar.bar-assertive.bar-footer div.row{
	padding-bottom:10px;
	border-bottom: 2px solid #ccc;
	height: 50px;
}
ion-footer-bar .col-25{
	border-top: 1px solid #DF5426;
	border-style: inset;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
}
ion-footer-bar .col-25.active{
	border-top: 5px solid #DF5426;
	margin-top: -5px;
	color: #DF5426x;
}




/* Rating */

fieldset, label { margin: 0; padding: 0;}

.rating { 
  border: none;
  float: left;
}
.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label { color: #DF5426;  }

.has-subheader {
    top: 89px;
}