.wide-as-needed {
    white-space: nowrap;
    padding-top: 50px !important;
}

.rrow1 {
	margin-top: 10px;
	font-family:'Roboto-Bold';
	font-size: 24px;
	text-align: center;
	color: #303030;
	line-height: 14.41px;
}

.rrow2 {
	margin-top: 5px;
	font-family:'Roboto-Regular';
	font-size: 20px;
	text-align: center;
	color: #EF5A28;
	line-height: 15.48px;
}

.rrow3 {
	margin-top: 10px;
	height: 190px !important;
	max-width:400px !important;	
	text-align: center;
}

.rrow4 {
	margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    width: 100%;
    margin-left: 100px;
}

.rrow5 {
	padding-top: 30px;
	font-family:'Roboto-Light';
	font-size: 13px;
	color: #585858;
}

.rrow6 {
	font-family:'Roboto-Bold';
	font-size: 23px;
	color: #585858;
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.rrow7 {
	font-family:'Roboto-Bold';
	font-size: 13px;
	color: #585858;
}

.heading2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-family: 'Roboto-Regular';
    color: #FFFFFF;
    font-weight: 500;
    line-height: 44px;
}

.heading3 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family:'Roboto-Bold';
    font-size: 17px;
}

.bar.bar-calm1 {
    border-color: #232627;
    background-color: #232627;
    color: #fff;
    height: 48px;
   }
   
.bar.bar-calm2 {
    border-color: #9E9E9E;
    background-color: #9E9E9E;
    color: #fff;
    height: 48px;
   }
   
   .button1 {
    border-color: #b2b2b2;
    background-color: #EDEDED;
    color: #373737;
    position: relative;
    display: inline-block;
    margin-top: 5px;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
    height: 85px;
    width: 95px;
    font-family: 'Roboto-Medium';
    font-size: 15px;
}

.col11 {	
    margin-top: 20px; 
    -webkit-box-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
    text-align: center;
    border: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: #EDEDED;
    font-family: 'Roboto-Bold';
    font-size: 14px;
}

.rrow8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    font-family: 'Roboto-Light';
    color: #585858;
}

.rrow9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    font-family: 'Roboto-Light';
    color: #EF5A28;
}
.rrow10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
    padding-left: 125px;
}

.rrow11 {
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
}

.col-51 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
    background-color: #EF5A28;
    color: #FFFFFF;
    text-align: center; 
    padding-top: 10px;
    margin-left: 5px;
}

.col-31 {
	text-align: center; 
    margin: 10px;
}

.parameter_title1 {
	font-family: 'Roboto-Light';
	font-size: 10px;
	color: #585858;
}

.parameter_title2 {
	margin-left: 50px;
	font-family: 'Roboto-Light';
	font-size: 10px;
	color: #585858;
}

.valid_parameter {
	margin-left: 0px !important;
	font-family: 'Roboto-Light'!important;
	font-size: 13.33px !important;
	color: #585858 !important;
}

.r1row {
    display: flex;
    padding: 5px;
    width: 100%;
}

.r2row {
    display: flex;
    padding: 5px;
    width: 100%;
