.nc_lc_header_info{

}

.nc_lc_alignCenter{
    text-align: center !important;
    padding-top: 10px !important;

}


.bar-subheader {
    top: 44px;
    display: block;
    height: 44px;
    background-color: #f05a28;
    font-size: 15px;
    font-family: 'Roboto-Bold';
    color: #fff;
    text-align: center;
    padding: 0;
}

.has-subheader {
    top: 89px;
}

.item h2{
	font-size: 15px;
    font-family: 'Roboto-Bold';
    color: #0E0E0E;
}

.item h3{
	font-size: 13px;
    font-family: 'Roboto-Bold';
    color: #f05a28;
}

.list:last-child.card {
    margin-bottom: 0px;
}

.card, .list-inset{
	    margin: 0px 0px;
}


ion-content div.scroll div.list{
    border-bottom: 2px solid #ccc;
  }
  ion-content div.scroll div.list:first-child{
    padding-top: 20px;
  }
  ion-content div.scroll div.list img{
    display:inline-block;
    margin-right:20px;
    max-width: 100px;
    max-height: 80px;
  }
  ion-content div.scroll div.list div.detail{
    margin-left: 50px;
   }
   ion-content div.scroll div.list div.item.item-thumbnail-left{
        min-height: 90px;
   }
  ion-content div.scroll div.list h2 {
    font-family:'Roboto-Bold' !important;
    font-size:15px !important;
    color: #0E0E0E;
  }
  ion-content div.scroll div.list h3{
    font-family:'Roboto-Regular' !important;
    font-size:11px !important;
    color: #9D9D9D;
  }
   ion-content div.scroll div.list h3 span{
    font-size: 13px;
    color: #F05A28;
   }

/* Rating */

fieldset, label { margin: 0; padding: 0;}

.rating { 
  border: none;
  float: left;
}
.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label { color: #DF5426;  }
