.nc_lc_header_info{

}

.nc_lc_alignCenter{
    text-align: center !important;
}

.bar-subheader {
    top: 44px;
    display: block;
    height: 44px;
    background-color: #f05a28;
    font-size: 15px;
    font-family: 'Roboto-Bold';
    color: #fff;
    text-align: center;
    padding: 0;
}

.has-subheader {
    top: 89px;
}

.item h2{
	font-size: 15px;
    font-family: 'Roboto-Bold';
    color: #0E0E0E;
}

.item h3{
	font-size: 13px;
    font-family: 'Roboto-Bold';
    color: #f05a28;
}

.list:last-child.card {
    margin-bottom: 0px;
}

.card, .list-inset{
	    margin: 0px 0px;
}
ion-footer-bar.bar.bar-assertive.bar-footer div.row{
	padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    height: 50px;
}

ion-footer-bar.bar.bar-assertive.bar-footer{
	border: none;
    background: #f5f5f5;
    background-image: none!important;
    text-transform: uppercase;
    max-width: 95%;
    margin: 0 auto;
    bottom: 20px;
}

.bar.bar-assertive{
	border-color: #e42012;
    background-color: #ef473a;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    color: #fff;
}

ion-footer-bar .col-25{
	border-top: 1px solid #DF5426;
    border-style: inset;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
