.imageContainer {
    width: 60px !important;
    height: 40px !important;
}


.imageSide {
    max-width: 100% !important;
    max-height: 100% !important;
}

.cardSize {
    height: 70px !important;
    width: 180px !important;
}

.bar.bar-light {
    background-color: #f05a28;
    color: #fff;
    font-family: 'Roboto-Bold' !important;
    font-size: 16px;
}

.bar-subheader{
	background-color: #f05a28;
	color:#fff;
	font-family:'Roboto-Bold' !important;
	font-size:16px;
}

h1:first-child{
	margin-top: 5px;
    color: white;
    font-family: 'Roboto-Bold';
    font-size: 16px;
}

.bar.bar-light .title {
    color: #fff;
    font-family: 'Roboto-Bold';
    font-size: 16px;
}
.comparision-bars{
  font-size:10px!important;
  width:100%;
  text-align:center;
  margin-top:9px;
  margin-bottom:15px!important;
  height:22px!important;
  color:#272727!important;
  font-family:"Roboto Bold";
  line-height:22px!important;
}
.align-hr{
   border:0px!important;
   margin:0px!important;
   width:100%;
   color:#f1f1f1;
}
.underline-img{
   width:50%;
   padding-top:-25px;
   padding:0px!important;
   margin:0px!important:
}
.car-title{
   color:#313131;
   font-size:10px;
   vertical-align:middle;
   text-align:center;
   font-family:"Roboto Regular";">
}
.col{
	text-align:center;
	font-family:'Roboto-Regular';
	font-size:14px;
	color:#313131;
}
.flip-car{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-180);
  filter: FlipH;
  -ms-filter: "FlipH";
  height:40px;
  float:right!important;
}
.bar-footer{
	height:22px;
	vertical-align:middle;
	border-radius:3.43px;
	border-bottom:5px;
	width:100%;
    background-color: #505050;
}

.bar .button.button-clear{
	padding-right: 2px;
	font-size: 10px;
    color: #fff;
    font-family:'Roboto-Regular';
}
