.imageContainer {
    width: 60px !important;
    height: 40px !important;
}


.imageSide {
    max-width: 100% !important;
    max-height: 100% !important;
}

.cardSize {
    border: solid;
    border-width: 1px;
    overflow: visible;
}
.rowcard{
	display: -webkit-box;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  padding: 5px;
 width: 160%;
 }
.light1 {
    background-color: #f05a28;
    color: #fff;
    font-family: 'Roboto-Bold' !important;
    font-size: 16px;
}

.head{
	background-color: #f05a28;
	color:#fff;
	font-family:'Roboto-Bold' !important;
	font-size:16px;
}

h1:first-child{    
    font-family: 'Roboto-Bold';
    font-size: 15px !important;
}

.bar.bar-light .title {
    color: #fff;
    font-family: 'Roboto-Bold';
    font-size: 16px;
}
.comparision-bars{
  font-size:10px!important;
  width:100%;
  text-align:center;
  margin-top:9px;
  margin-bottom:15px!important;
  
  color:#272727!important;
  font-family:"Roboto Bold"
}
.align-hr{
   border:0px!important;
   margin:0px!important;
   width:100%;
   color:#f1f1f1;
}
.underline-img{
   width:50%;
   padding-top:-25px;
   padding:0px!important;
   margin:0px!important:
}
.car-title{
   color:#313131;
   font-size:10px;
   vertical-align:middle;
   text-align:center;
   font-family:"Roboto Regular";">
}
.col{
	text-align:center;
	font-family:'Roboto-Regular';
	font-size:14px;
	color:#313131;
}
.colcard{
	text-align:left;
	font-family:'Roboto-Regular';
	font-size:16px;
	color: #fff;
	padding-top: 0px !important;
	padding-left: 5px !important;
}
.flip-car{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-180);
  filter: FlipH;
  -ms-filter: "FlipH";
  height:40px;
  float:right!important;
}
.foot{
	height:25px;
	vertical-align:middle;
	border-radius:3.43px;
	border-bottom:5px;
	width:100%;
    background-color: #505050;
}

.bar .button.button-clear{
	padding-right: 2px;
	font-size: 10px;
    color: #fff;
    font-family:'Roboto-Regular';
}




.orp-name {
    font-size: 14px !important;
    font-family: 'Arial' !important;
    font-weight: 600;
    color: #303030 !important;
    text-align: left !important;
    padding-top: 15px !important;
    padding-left: 5px !important;
}
.col-21 {
    -webkit-box-flex: 1;
    width: 30%;
    border: 1px solid;
    border-color: #585858;
    margin-top: 2px;
    font: 12px "Roboto-Bold";
    color: #585858;
    padding-left: 5px;
    padding-top: 7px;
    height: 36px;
}
.col-22 {
    -webkit-box-flex: 1;
    display: block;
    width: 70%;
    border: 1px solid;
    border-color: #585858;
    margin-top: 2px;
    height: 36px;
    padding-left: 5px;
}
.col-23 {
    -webkit-box-flex: 1;
    display: block;
    width: 100%;
    height: 44px;
    padding-left: 5px;
    padding-top: 10px;
}
.col-pad {
    padding-left: 5px;
}
.rrow11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
}
.rrow-footer {
    margin-top: 41px;
    padding-top: 5px;
    display: block;
    height: 35px;
    background-color: #f05a28;
    font: 18px 'Roboto-Regular';
    color: #fff;
    text-align: center;
    width: 100%;
}
