.imageContainer {
    width: 60px !important;
    height: 30px !important;
}


.imageSide {
    max-width: 100% !important;
    max-height: 100% !important;
}

.cardSize {
    height: 70px !important;
    width: 180px !important;
}