

.bgColor { 
    background-color: #E4E3E3;
    z-index: -3;
}

.item {
	background-color: transparent!important;
}


.usedCarDetailTitle{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold !important;
	font-size: 14px !important;
	color:#434750 !important;
	height:36px !important;
	border-bottom-width: 1px;
	z-index: 2;
	padding-top: 10px !important;	
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	margin-top: -2;
}

.usedCarDetailSort{
	font-family: 'Roboto', sans-serif;
	font-size: 10px !important;
	color:#909090 !important;
	background-color:#E4E3E3 !important;
	height:20px !important;
	z-index: 2;
	padding-top: 5px !important;
	text-align: center;
	position: absolute;
    top: 104%;
    right: 0%;
    left: 0%;
}

.usedCarDetailCarName{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold !important;
	font-size: 14px !important;
	color:#434750 !important;
    margin-bottom: 0px !important;
	padding-top: 5px !important;	
	padding-bottom: 5px !important;
}

.usedCarDetailPrice{
	font-family: 'Roboto', sans-serif !important;
	font-size: 18px !important;
	color:#F05A28 !important;
	padding-bottom: 5px !important;
}
.usedCarDetailPriceSpan{
	font-family: 'Roboto Black', sans-serif !important;
	font-weight: bold !important;
	
}

.usedCarDetailModel {
	font-family: 'Arial Bold' !important;
	font-size: 11px !important;
	color:#5f5f5f !important;
    margin-bottom: 0px !important;
	padding-top: 7px !important;	
	padding-bottom: 10px !important;
}

.usedCarDetailModel1 {
	font-family: 'Arial Bold' !important;
	font-size: 11px !important;
	font-weight: bold !important;
	color:#4b4b4b !important;
    margin-bottom: 0px !important;
	padding-top: 7px !important;	
	padding-bottom: 10px !important;
}

.barHeight{
	padding-bottom: 33px !important;
	
}
.cardHeaderHight{
	    min-height: 95px !important;

}
.cardFooterHight{
	    min-height: 24px !important;
	    padding-top:1px !important;
	    padding-bottom:0px !important;
}


.thumnailImgCss {
    width: 25% !important;
    height: 85% !important;
}

.footerLine {
	font-family: 'Roboto', sans-serif !important;
	border-top-width: 1px !important;
    margin-top: 1px !important;
    font-size: 10px !important;
    padding-left: 29px;
}

.item-divider {
    font-weight: 300;
}
.cardCss {
	height: 119px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	
}

.borderRadius{
	padding-left: 0px;
	padding-right: 0px;
}
.footerText{
	    padding-left: 0px !important;
}

.card {
  border-radius: 6px;
}
.footerRight{	
	font-family: 'Roboto Bold', sans-serif !important;
	font-size:14px !important;
	width: 50% !important;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding-right: 30px;
	/* padding-top: 15px !important; */
	border-right-width: 0px;
	border-left-width: 2px !important;
	
}
.footerLeft{	
	font-family: 'Roboto Bold', sans-serif !important;
	font-size:14px !important;
	width: 50% !important;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding-left: 30px;
    padding-top: 5px !important; 	
    border-right-width: 2px !important;
}

.bar-footer {
    height: 46px;
} 

.footerLeft > i >img {
 padding-top: 6px !important;
}

.footerRight > i >img {
 padding-top: 3px !important;
}

.footerRight > i > img > .img2 {
 padding-top: 5px;
}


.resultLeft {
	text-align: left !important;
}

.resultRight {
	text-align: right !important;
}

.resultImageRight {
	height: 25px !important;
	width: 25px !important;
}

.popup {
	width:100% !important;
	height:100% !important;
	max-height: 100% !important;
}

.filterTopBar {
	padding-top: 0px !important;
}

.popup-head {
	height: 50px !important;
	border-bottom-width: 0px !important;
}

.popup-body {
	height:85% !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 10px;
	padding-left: 0px !important;
}

.fResultHeadFont {
	font-family: 'Roboto Light' !important;
	font-size: 16px !important;
	color: #404040 !important;
}

.fResultFont {
	font-family: 'Roboto Bold' !important;
	font-weight: bold !important;
	color: #222222 !important;
}
.cvInfoHeader{
	text-align: center;
	font-family: Roboto regular;
	margin-top: 30px;
	font-size: 18px;
}

.cvSellerProp{
	border: solid 1px;
	text-align: center;
}

.cvItemBodyProp{
	text-align: center;
	line-height: 20px;
}

.cKMandModel{
	font-size: 13px;
}
.cardicon{
width: 11px;
height: 11px;
}
.cvImg_1{
width: 100%;

max-height: 40%; 
	
}
.cvLocationColumnHeight{
	margin: auto;
	padding-left: 0;
}
 .feature{
width:10%;
height:10%;
	z-index: 1 !important;
    max-width: 15% !important;
    max-height: 52% !important;
} 
.card1{
    overflow: hidden;
    margin: 25% 1%;
    border-radius: 2px;
    background-color: #fff;
}
.imgScrcheckbox{
	position: absolute;
	top: 15%;
    left: 55%;
	    z-index: 2;
     
}
.item2 {
    padding: 2%;
    padding-left: 1%;
}
.biglogotrustmark{
	position: absolute;
    top: 25%;
    left: 63%;
    max-height: 54%;
    max-width: 40%;
    z-index: 2;
}


