.urdSubHeaderProperty {
    height: 89px ;
    padding: 0 0 0 0;


}

.urdRowProp {
    height: 30px !important;
    background-color: #f05a28 !important;
    color: #ffffff;
    padding-top: 5px !important;


}