.wordwrap {
    white-space: pre-line;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
    font-size: 14px;
    font-family: 'Roboto-Regular';
    color: #555555;
}

.col-50{
	font-family: 'Roboto-Medium' !important;
  font-style: normal;
	font-size: 12px;
	color: #262626;
	width:143px;
	text-align:center;
	line-height:41.71px; 
}

.bar.bar-light{
	padding:0;
}

.row{
	padding:0;
}

.item h2 {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Roboto-Medium';
    color: #0e0e0e;
}

.list:last-child.card {
    margin-bottom: 0px;
}

.card, .list-inset{
	margin: 40px 0px;
}