/* .urdSubHeaderProperty {
    height: 89px ;
    padding: 0 0 0 0;


}

.urdRowProp {
    height: 30px !important;
    background-color: #f05a28 !important;
    color: #ffffff;
    padding-top: 5px !important;


} */
.subHeaderProperty{
height: 70px;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
}
.reviewHeader{
	background: #f05a28;
	font-family: Roboto Medium;
	font-size: 13.33px;
	color: #ffffff;
}
.reviewsText{
	padding-left: 10px;
}
.subRatingProperty{
	height:20px; 
	padding-left: 10px;
	padding-top: 10px;
}
.rudTopPadding{
	padding-top: 70px;
}
.rudTitleName{
	background-color: #EDEDED;
	padding-left: 10px;
}
/* hr {
	width: 320px;
	height: 3px;
	background-color: #D3D3D3;
	color: #D3D3D3;
} */
hr{
	-moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    background-color: #EDEDED;
    margin: 0;
    
}

.helpful{
	/* background: #D3D3D3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: 20px ;
	margin-right:20px ;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 4px;
	padding-right: 4px; */
	    background: #D3D3D3;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
} 

.square {
/* border:3px solid black; */
/* width:500px;
height:100px; */
border:1px solid #000;
border-bottom-left-radius: 1%;
border-bottom-right-radius: 1%;
border-top-left-radius: 1%;
border-top-right-radius: 1%;
padding: 8px;
}
.fnt{
font-family: Roboto Medium;
font-size: 14px;
color: #262626;
text-align: center;
padding-left: 40px;
	
}
.bg{
	background: #D3D3D3;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.yes{
	/* background:green;
    height:30px; */
	/* border-radius:35%; */
	/* border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
    text-align: center;	
    padding:2%;
    margin-left:40%; */
    background: green;
    height: 8%;
    /* border-radius: 35%; */
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    text-align: center;
    padding: 2%;
    margin-left: 1%;
}
/* .yes1{
	width: 20%;
    height: 70px;
    background: yellow;
    border: 3px solid red;
} */
.no
{
	/* background:red;
	height:30px;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
    text-align: center;	
    padding:0px; */
    background: red;
    height: 8%;
    /* border-radius: 35%; */
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    text-align: center;
    padding: 2%;
    margin-left: 1%;
}
.h6{
	padding-left: 20px;
 }
 .leftarrow{
 margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 2%;
    
 }
 .prev{
 margin-left: -20%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
 }
 .next{
 margin-left: 10%;
    margin-right: -10%;
    margin-top: 4%;
    margin-bottom: 4%;
 }
 .rightarrow{
 margin-left: 2%;
    margin-right: -28%;
    margin-top: 4%;
    margin-bottom: 4%;
    
 
 }
 .usefulreview{
     /* font-size: smaller;
    font-weight: bold;
    padding-left: 2%;
    margin: 0%; */
    margin-left: -7px;
}
 .wasreviewhelpful{
 	margin-left: -53%;
    font-family: Roboto Medium;
    font-size: 14px;
    color: #262626;
    padding-left: 0px;
 }
 .yesornotop{
 margin-top: -10% !important; 
 }
 .bar-subheader1{
 top: 43px;
 }
 
/*.subHeaderProperty{
	height: 89px;
	
} */
